:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  input {
    padding: 3px 4px;
  }
  label{
    font-weight: 700;
  }
  img{
    image-rendering: pixelated
  }
  .arrows{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 20px;
    z-index: 99;
  }

  .arrows:nth-child(1){
    left: 875px;
    top: 350px;
    background-image: url(../assets/arrow_01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
  }
  .arrows:nth-child(2){
    left: 950px;
    top: 425px;
    background-image: url(../assets/arrow_06.svg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
  }
  .arrows:nth-child(3){
    left: 875px;
    top: 500px;
    background-image: url(../assets/arrow_11.svg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
  }
  .arrows:nth-child(4){
    left: 800px;
    top: 425px;
    background-image: url(../assets/arrow_16.svg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
  }
  .dpad-none{
    left: 875px;
    top: 425px;
    background-image: url(../assets/none.svg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;